<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎲 DiceGame | Details Game</title>
    <link href="../public/styles.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-b from-cyan-400 to-cyan-50 h-screen">
    <%- include('components/header'); %> <% if (!error) { %>
    <div
      class="h-4/5 mx-auto w-4/5 flex-row justify-center items-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="">
        <div
          class="px-5 py-3 border-b-2 rounded-t-md border-gray-200 bg-yellow-400 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Game ID : <%=game._id %>
        </div>
      </div>
      <table
        class="flex-row min-w-full leading-normal justify-center items-center"
      >
        <thead>
          <tr>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Id Players
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Name
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Age
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Score
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (game.gamers.length > 0) { %> <% game.gamers.forEach(element =>
          { %>
          <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <div class="flex items-center">
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap">
                    <%= element._id %>
                  </p>
                </div>
              </div>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                <%= element.name %>
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap"><%= element.age %></p>
            </td>
            <% if (element.score != 0) { %>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                <%= element.score %>
              </p>
            </td>
            <% }else{ %>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">-</p>
            </td>
            <% } %>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
      <div
        class="relative flex justify-center px-3 py-1 font-semibold leading-tight"
      >
        <% if (game.inProgress) { %>
        <span
          aria-hidden
          class="absolute inset-0 bg-green-300 opacity-50 rounded-b-lg"
        ></span>
        <span class="relative text-green-800"
          >In Progress: <%= game.inProgress %>
        </span>
        <% }else{ %>
        <span
          aria-hidden
          class="absolute inset-0 bg-gray-200 opacity-50 rounded-b-lg"
        ></span>
        <span class="relative text-gray-800"
          >In Progress: <%= game.inProgress %>
        </span>
        <% } %>
      </div>

      <div
        class="px-4 py-3 text-right sm:px-6 flex justify-between w-2/5 mx-auto my-10"
      >
        <% if (game.inProgress) { %>
        <button
          id="btnPlayGame"
          data-id="<%=game._id %>"
          class="group justify-center relative w-2/5 py-3 border border-transparent font-medium rounded-md text-white bg-cyan-400 active:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
        >
          Play Game
        </button>
        <% }else{ %>
        <button
          id="btnPlayGame"
          data-id="<%=game._id %>"
          class="hidden group justify-center relative w-2/5 py-3 border border-transparent font-medium rounded-md text-white bg-cyan-400 active:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
        >
          Play Game
        </button>
        <a
          href="/winnerGame/<%=game._id%>"
          class="group relative w-2/5 flex justify-center py-3 border border-transparent font-medium rounded-md text-white bg-cyan-400 active:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
        >
          View Winner
        </a>
        <% } %>
        <button
          id="btnDeleteGame"
          data-id="<%=game._id %>"
          class="group relative w-2/5 flex justify-center py-3 border border-transparent font-medium rounded-md text-white bg-red-400 active:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
        >
          Delete Game
        </button>
      </div>
    </div>
    <% }else { %>
    <div
      class="h-4/5 mx-auto w-4/5 flex-row justify-center items-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="bg-white p-10 rounded-lg text-gray-600 flex justify-center w-2/5 m-auto">
        <p><%= content %></p>
      </div>
      <div class="flex justify-center">
        <a
          href="/"
          class="group relative w-1/5 flex justify-center py-3 mt-8 border border-transparent font-medium rounded-md text-white bg-cyan-400 active:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
        >
          Go HomePage
        </a>
      </div>
    </div>

    <% } %> <%- include('components/footer'); %>
    <script>
      const btnDeleteGame = document.querySelector("#btnDeleteGame");

      btnDeleteGame.addEventListener("click", async () => {
        console.log("Go to Delete");
        const id = btnDeleteGame.dataset.id;
        console.log("id: ", id);
        try {
          const data = await fetch(`/deleteGame/${id}`);
          const res = await data.json();
          if (res.estado) {
            //res.render("confirmation")
            alert("The game was delete!!");
            window.location.href = "/games";
          } else {
            console.log(res);
          }
        } catch (e) {
          console.log(e);
        }
      });

      const btnPlayGame = document.querySelector("#btnPlayGame");
      btnPlayGame.addEventListener("click", async () => {
        console.log("Go to play and override");
        const id = btnPlayGame.dataset.id;
        console.log("id: ", id);
        try {
          const data = await fetch(`/startGame/${id}`, { method: "PUT" });
          const res = await data.json();
          if (res.status) {
            alert("Game played successfully!!");
            window.location.href = `/findGame/${id}`;
          } else {
            console.log(res);
          }
        } catch (e) {
          console.log(e);
        }
      });
    </script>
  </body>
</html>
