<!DOCTYPE html>
<html lang="en">
  <%- include('./template/headHTML.ejs',{title: "DiceGame | Games"})%>
  <body>
    <div class="flex justify-center p-10">
      <div class="bg-white p-8 rounded-md w-full">
        <div class="flex items-center justify-center pb-6">
          <div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
              <div
                class="mx-auto min-h-full flex-row justify-center items-center py-12 px-4 sm:px-6 lg:px-8"
              >
              <% if (arrayGames.length > 0) { %> 
                <table class="min-w-full leading-normal">
                  <thead>
                    <tr>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                      >
                        Game
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                      >
                        Player 1
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                      >
                        Player 2
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                      >
                        Player 3
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                      >
                        In Progress
                      </th>
                      <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                      >
                        Details
                      </th>
                    </tr>
                  </thead>
                  <tbody>      
                    <% arrayGames.forEach(element => { %>
                    <tr>
                      <td
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <div class="flex items-center">
                          <div class="ml-3">
                            <p class="text-gray-900 whitespace-no-wrap">
                              <%= element._id %>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <p class="text-gray-900 whitespace-no-wrap">
                          <%= element.gamers[0].name %>
                        </p>
                      </td>
                      <td
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <p class="text-gray-900 whitespace-no-wrap">
                          <%= element.gamers[1].name %>
                        </p>
                      </td>
                      <td
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <p class="text-gray-900 whitespace-no-wrap">
                          <%= element.gamers[2].name %>
                        </p>
                      </td>
                      <td
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <span
                          class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight"
                        >
                          <span
                            aria-hidden
                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"
                          ></span>
                          <span class="relative"
                            ><%= element.inProgress %>
                          </span>
                        </span>
                      </td>
                      <td
                        class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <a href="/game/<%=element._id%>" class="">
                          <span class= " whitespace-no-wrap bg-blue-300 hover:bg-blue-500  border border-blue-400 rounded-full text-gray-600 hover:text-white p-2" >Info</span>
                        </a>
                      </td>
                    </tr>
                    <% }) %> 
                  </tbody>
                </table>
                <% }else { %>
                  <div class="bg-red-200 p-3">There no data</div>
                <% } %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
