<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../public/styles.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎲 DiceGame</title>
  </head>
  <body class="bg-gradient-to-b from-cyan-400 to-cyan-50 h-screen">
     <%- include('components/header'); %>
    <% if (!error) { %>
    <div
      class="mx-auto h-4/5 w-4/5 flex-row justify-center items-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div>
        <div
          class="px-5 py-3 border-b-2 border-gray-200 bg-yellow-400 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider rounded-t-lg"
        >
          Game ID : <%= game._id %>
        </div>
      </div>
      <table
        class="flex-row min-w-full leading-normal justify-center items-center"
      >
        <thead>
          <tr>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Id Player
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Name
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Age
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Score
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <div class="flex items-center">
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap">
                    <%= game.winner._id %>
                  </p>
                </div>
              </div>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                <%= game.winner.name %>
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                <%= game.winner.age %>
              </p>
            </td>
            <% if (game.winner.score != 0) { %>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                <%= game.winner.score %>
              </p>
            </td>
            <% }else{ %>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">n/a</p>
            </td>
            <% } %>
          </tr>
        </tbody>
      </table>
      <div
        class="relative flex justify-center px-3 py-1 font-semibold text-white leading-tight"
      >
        <span
          aria-hidden
          class="absolute inset-0 bg-yellow-300 opacity-50 rounded-b-lg"
        ></span>
        <span class="relative">Winner</span>
      </div>

      <div
        class="px-4 py-3 text-right sm:px-6 flex justify-center w-2/5 mx-auto my-10 rounded-lg"
      >
        <a
          href="/findGame/<%=game._id%>"
          class="group relative w-2/5 flex justify-center py-3 border border-transparent font-medium rounded-md text-white bg-cyan-400 active:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
        >
          Game Details
        </a>
      </div>
      <%- include('components/diceCont'); %>
    </div>
    <% }else { %>
    <div class="bg-red-200 p-3">Something went wrong</div>
    <a
      href="/"
     class="group relative w-2/5 flex justify-center py-3 border border-transparent font-medium rounded-md text-white bg-cyan-400 active:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
    >
      Go Main
    </a>

    <% } %>

    <%- include('components/footer'); %>
  </body>
</html>
